<div id="login">
    <h3>Kirjaudu sisään</h3>
        
    <div style="height: 25px"></div>

    <div class="alert alert-danger" id="errors" hidden> 
        <p>Virheellinen käyttäjätunnus tai salasana</p>
    </div>

    <form class="form-horizontal">

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Käyttäjätunnus</label>
            <div class="col-sm-10">
                <input type="text" id="username" class="form-control" data-bind="value: username, valueUpdate: 'afterkeydown'" />
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Salasana</label>
            <div class="col-sm-10">
                <input type="password" id="password" class="form-control" data-bind="value: password, valueUpdate: 'afterkeydown'" />
            </div>
        </div>

        <button class="btn btn-default" data-bind="click: login, enable: requiredFieldsFilled">Kirjaudu</button>
    </form>

    <h4><a href="" data-bind="click: togglePasswordReset">Salasanan resetointi</a></h4>

    <div data-bind="visible: passwordResetVisible">
        <div style="height: 25px"></div>

        <div class="alert alert-success" data-bind="visible: showPasswordResetSuccess"> 
            <p data-bind="text: resetSuccessText"></p>
        </div>

        <div class="alert alert-danger" data-bind="visible: showPasswordResetErrors"> 
            <p data-bind="text: resetErrorsText"></p>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="adminEmail" class="col-sm-2 control-label">Ylläpitäjän sähköposti:</label>
                <div class="col-sm-10">
                    <input id="adminEmail" type="text" class="form-control" 
                        data-bind="value: adminEmail, valueUpdate: 'afterkeydown'"/>
                </div>
            </div>
            <button class="btn btn-default" data-bind="enable: adminEmail().length > 0, click: resetPassword">Resetoi</button>
        </form>
    </div>
</div>