<div id="pending-students">

    <button class="btn btn-default" data-bind="click: acceptSelectedStudents">Hyväksy valitut</button>
    <button class="btn btn-default" data-bind="click: rejectSelectedStudents">Hylkää valitut</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" data-bind="checked: allSelected"/></th>
                <th>Opiskelijanumero</th>
                <th>Nimi</th>
                <th>Syntymäaika</th>
                <th>Sähköposti</th>
                <th>Pääaine</th>
                <th>Aloitusvuosi</th>
                <th>Hallituksen jäsen</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="template: {foreach: pendingStudents, beforeRemove: fadeOutRow}">
            <tr>
                <td><input type="checkbox" data-bind="checked: isSelected"/></td>
                <td data-bind="text: id"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: birthdate"></td>
                <td data-bind="text: email"></td>
                <td data-bind="text: subject"></td>
                <td data-bind="text: startyear"></td>
                <td><input type="checkbox" disabled data-bind="checked: hallitus"></td>
                <td>
                  <a href="" data-bind="click: $root.acceptStudent">Hyväksy</a>
                </td>
                <td>
                  <a href="" data-bind="click: $root.rejectStudent">Hylkää</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>