<div id="register">

    <form class="form-horizontal">
        
        <!-- Opiskelijanumero -->
        
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Opiskelijanumero</label>
            <div class="col-sm-10">
                <input type="text" id="id" class="form-control" data-bind="value: editStudent().id" />
            </div>
        </div>

        <!-- Nimi -->

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Nimi</label>
            <div class="col-sm-10">
                <input type="text" id="name" class="form-control" data-bind="value: editStudent().name" />
            </div>
        </div>

        <!-- Syntymäaika -->

        <div class="form-group">
            <label for="birthdate" class="col-sm-2 control-label">Syntymäaika</label>
            <div class="col-sm-10">
                <input type="text" id="birthdate" class="form-control" data-bind="value: editStudent().birthdate" />
            </div>
        </div>

        <!-- Email -->

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Sähköposti</label>
            <div class="col-sm-10">
                <input type="text" id="email" class="form-control" data-bind="value: editStudent().email" />
            </div>            
        </div>

        <!-- Pääaine -->

        <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Pääaine</label>
            <div class="col-sm-10">
                <select class="form-control" data-bind="
                                                options: selectableSubjects,
                                                value: editStudent().subject">
                </select>
            </div>
        </div>

        <!-- Aloitusvuosi -->

        <div class="form-group">
            <label for="staryear" class="col-sm-2 control-label">Aloitusvuosi</label>
            <div class="col-sm-10">
                <select id="startyear" class="form-control" 
                    data-bind="
                        options: selectableYears,
                        value: editStudent().startyear"></select>
            </div>
        </div>

        <!-- Hallituksen jäsenyys -->

        <div class="form-group">
            <label for="hallitus" class="col-sm-2 control-label">Hallituksen jäsen</label>
            <div class="col-sm-10">
                <input type="checkbox" id="hallitus" class="form-control" data-bind="checked: editStudent().hallitus" />                
            </div>
        </div>

        <div class="form-group" data-bind="visible: editStudent().hallitus">
            <label class="col-sm-2 control-label">Roolit hallituksessa</label>
            <div class="col-sm-10">
                <table class="table table-striped">
                    <thead>
                        <th>Vuosi</th>
                        <th>Jäsenyys</th>
                        <th></th>
                    </thead>
                    <tbody id="roles" data-bind="foreach: editStudent().hallitusRoles">
                        <td><select class="form-control" data-bind="options: $root.selectableYears, value: year"></select></td>
                        <td><select class="form-control" data-bind="options: $root.selectableRoles, value: role"></select></td>
                        <td><a href="" data-bind="click: $root.removeAdministrationRole">Poista</a></td>
                    </tbody>
                </table>
                <button class="btn btn-default" data-bind="click: newRoleRow">Uusi rivi</button>
            </div>
        </div>

        <!-- Napit -->

        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" data-bind="click: submitEdits, enable: validData">Hyväksy</button>
        </div>

    </form>

    <script type="text/javascript">
        var options = {
            format: 'dd.mm.yyyy',
            startView: 'decade',
            language: 'fi-FI',
            defaultViewDate: { year: 1995 }
        };
        $('#birthdate').datepicker(options);
    </script>
</div>