<div id="settings">

    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-md-4">

                <h3 class="text-center">Roolit</h3>

                <div style="height: 25px"></div>

                <div>
                    <table class="table table-striped">
                        <thead>
                            <th>Rooli</th>
                            <th class="text-center">Aktiivinen</th>
                        </thead>
                        <tbody data-bind="foreach: administrativeRoles">
                            <td data-bind="text: role"></td>
                            <td class="text-center"><input type="checkbox" data-bind="checked: active" /></td>
                        </tbody>
                    </table>

                    <label class="control-label" for="newRole">Uusi rooli:</label>
                    <input id="newRole" class="form-control" type="text" data-bind="value: newRole, valueUpdate: 'afterkeydown'"/>                            
                    <button class="btn btn-default" data-bind="click: addNewRole, enable: newRole().length > 0">Lisää</button>

                </div>

            </div>
            
            <div class="col-md-4">
                
                <h3 class="text-center">Sähköpostiasetukset</h3>

<!--                 <div style="height: 25px"></div>
 -->
                <div>

                    <h4>Jäsenhakemus vastaanotettu</h4>
                    
                    <label for="registrationReceivedTitle">Otsikko:</label>
                    <input id="registrationReceivedTitle" type="text" class="form-control" data-bind="value: registrationReceivedTitle"/>

                    <label for="registrationReceived">Viesti:</label><br>
                    
                    <textarea id="registrationReceived" class="form-control" cols="50" rows="5" data-bind="value: registrationReceived"></textarea>

                    <label for="sendReceivedConfirmation">Lähetä vastaanotettu sähköposti:</label>
                    <input id="sendReceivedConfirmation" type="checkbox" data-bind="checked: sendReceivedConfirmation"/>

                    <div style="height: 50px"></div>

                    <h4>Jäsenhakemus hyväksytty</h4>

                    <label for="registrationAcceptedTitle">Otsikko</label>
                    <input id="registrationAcceptedTitle" type="text" class="form-control" data-bind="value: registrationAcceptedTitle"/>

                    <label for="registrationAccepted">Viesti:</label>
                        <textarea id="registrationAccepted" class="form-control" cols="50" rows="5" data-bind="value: registrationAccepted"></textarea>

                </div>
            </div>

            <div class="col-md-4">
                
                <h3 class="text-center">Ylläpitäjän asetukset</h3>

                <div style="height: 25px"></div>

                <div> 
                    <div class="row">
                        <label class="col-sm-4 control-label" for="adminEmail">Sähköposti:</label>
                        <div class="col-sm-8">
                            <input id="adminEmail" class="form-control" type="text" data-bind="value: adminEmail" />
                        </div>
                    </div>

                    <div style="height: 50px"></div>

                    <h3>Salasanan vaihto</h3>

                    <div class="row">
                        <label class="col-sm-4 control-label" for="password">Uusi salasana:</label>
                        <div class="col-sm-8">
                            <input id="password" class="form-control" type="password" data-bind="value: password, valueUpdate: 'afterkeydown'" />
                            
                        </div>
                        
                        <label class="col-sm-4 control-label" for="passwordVerification">Salasana uudestaan:</label>
                        <div class="col-sm-8">
                            <input id="passwordVerification" class="form-control" type="password" data-bind="value: passwordVerification, valueUpdate: 'afterkeydown'" />        
                        </div>
                        
                    </div>
                    
                    <div class="alert alert-danger" data-bind="visible: !validPasswords()">
                        <p>Salasanat eivät ole samoja tai pituus on alle 8 merkkiä</p>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div style="height: 25px"></div>

    <div class="alert alert-success" data-bind="visible: showSuccess">
        <p>Asetusten päivittäminen onnistui!</p>
    </div>

    <div class="alert alert-danger" data-bind="visible: showErrors">
        <p>Asetusten päivittäminen epäonnistui!</p>
    </div>

    <button class="btn btn-default" data-bind="click: saveSettings, enable: validPasswords">Tallenna asetukset</button>
</div>