<div id="studentlisting" class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <h3 class="text-center">Suodattimet</h3>
      
      <div style="height: 25px"></div>

      <form class="form-horizontal">

        <!-- Opiskelijanumerofiltteri -->

        <div class="form-group">
          <label class="col-sm-6 control-label" for="idFilter">Opiskelijanumero:</label>
          <div class="col-sm-6">
            <input id="idFilter" class="form-control" data-bind="value: idFilter, valueUpdate: 'afterkeydown'" />        
          </div>
        </div>
        
        <!-- Nimifiltteri -->
        <div class="form-group">
          <label for="nameFilter" class="col-sm-6 control-label">Nimi:</label>
          <div class="col-sm-6">
            <input id="nameFilter" class="form-control" data-bind="value: nameFilter, valueUpdate: 'afterkeydown'" />
          </div>
        </div>

        <!-- Aloitusvuosifiltteri -->
        <div class="form-group">
          <label for="yearFilterStart" class="col-sm-6 control-label">Aloitusvuosi (alku):</label>
          <div class="col-sm-6">
            <select id="yearFilterStart" class="form-control" data-bind="options: years, value: yearFilterStart"></select>      
          </div>
        </div>

        <div class="form-group">
          <label for="yearFilterEnd" class="col-sm-6 control-label">Aloitusvuosi (loppu):</label>
          <div class="col-sm-6">
            <select id="yearFilterEnd" class="form-control" data-bind="options: years, value: yearFilterEnd"></select>
          </div>
        </div>

        <!-- Pääainefiltteri -->
        <div class="form-group">
          <label for="subjectFilter" class="col-sm-6 control-label">Pääaine:</label>
          <div class="col-sm-6">
            <select id="subjectFilter" class="form-control" data-bind="
              options: selectableSubjects, value: subjectFilter"></select>            
          </div>
        </div>

        <!-- Hallituksen jäsenyys filtteri -->
        <div class="form-group">
          <label for="hallitusRoleFilter" class="col-sm-6 control-label">Hallituksen jäsenyys:</label>
          <div class="col-sm-6">
            <select id="hallitusRoleFilter" class="form-control" data-bind="
              options: selectableRoles, value: hallitusRoleFilter"></select>
          </div>
        </div>

        <!-- Vain aktiiviset -->
        <div class="form-group">
          <label for="onlyActiveFilter" class="col-sm-6 control-label">Vain aktiiviset:</label>
          <div class="col-sm-6">
            <input id="onlyActiveFilter" type="checkbox" data-bind="checked: onlyActiveFilter" />
          </div>
        </div>

        <!-- Filttereiden tyhjennys painike -->


        <div class="form-group">        
          <!-- <div class="col-sm-4"></div> -->
          <div class="col-sm-offset-6">
            <button class="btn btn-default form-control" data-bind="click: clearFilters">Tyhjennä suodattimet</button>        
          </div>
        </div>

      </form>
      
    </div>
    <div class="col-md-9">
      <button class="btn btn-default" data-bind="
        click: removeSelectedStudents, 
        enabled: numOfSelectedStudents > 0">Poista valitut</button>

      <table id="ko-users" class="table table-striped">
        
        <thead>
          <tr>
            <th> <input type="checkbox" data-bind="checked: allSelected"></th>
            <th data-bind="click: sortByStudentNumber">Opiskelijanumero</th>
            <th data-bind="click: sortByName">Nimi</th>
            <th data-bind="click: sortByBirthdate">Syntymäaika</th>
            <th>Sähköposti</th>
            <th data-bind="click: sortBySubject">Pääaine</th>
            <th data-bind="click: sortByStartingYear">Aloitusvuosi</th>
            <th>Hallituksen jäsen</th>
            <th>Aktiivinen</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody data-bind="foreach: paginatedStudents">
          <tr>
            <td><input type="checkbox" data-bind="checked: isSelected" /></td>
            <td data-bind="text: id"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: birthdate"></td>
            <td data-bind="text: email"></td>
            <td data-bind="text: subject"></td>
            <td data-bind="text: startyear"></td>
            <td><input type="checkbox" disabled data-bind="checked: hallitus"></td>
            <td><input type="checkbox" disabled data-bind="checked: active" /></td>
            <td>
              <a href="" data-bind="click: $root.editStudent">Muokkaa</a>
            </td>
            <td>
              <a href="" data-bind="click: $root.removeStudent">Poista</a>
            </td>
          </tr>    
        </tbody>
      
      </table>
      <a href="" data-bind="click: previousPage">Edellinen</a>

      <!-- ko foreach: pageIndexes -->
          <!-- ko if: $root.isCurrentPage(i) -->
          <strong><a href="" data-bind="text: i+1, click: $root.changePage"></a></strong>
          <!-- /ko -->
          <!-- ko ifnot: $root.isCurrentPage(i) -->
          <a href="" data-bind="text: i+1, click: $root.changePage"></a>
          <!-- /ko -->
      <!-- /ko -->

      <a href="" data-bind="click: nextPage">Seuraava</a>
      <div>
        <p>Aktiivisia: <span data-bind="text: activeStudentCount"></span>,
        ei aktiivisia: <span data-bind="text: inactiveStudentCount"></span>,
        yhteensä <span data-bind="text: totalStudentCount"></span></p>      
      </div>
    </div>
  </div>
</div>
